Examen/03.dtd_aparte.dtd


<!-- Cuando el DTD va en un archivo aparte no es 
necesario poner el <!DOCTYPE (habrá que ponerlo en el 
xml con la llamada a este archivo) -->

<!ELEMENT BDcomponentes (componente)+>
<!ELEMENT componente (nombre, (precio|precioiva), tipo*, medida)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT precioiva (#PCDATA)>
<!ELEMENT tipo (#PCDATA)>
<!ELEMENT medida (#PCDATA)>
