Examen/ejercicios/06.paises.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="paises">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pais" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="pais">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string" minOccurs="1" maxOccurs="1" />
                <xs:element name="ciudad" type="xs:string" minOccurs="0" maxOccurs="5" />       
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>